# Ignore everything in the project
UCUnityProject/*
UCUnityProject/Assets/*
UCUnityProject/Assets/LethalCompany/*

# Except the Assets/LethalCompany/Mods/plugins directories
!UCUnityProject/Assets/
!UCUnityProject/Assets/Editor/
!UCUnityProject/Assets/LethalCompany/
!UCUnityProject/Assets/LethalCompany/Mods/
!UCUnityProject/Assets/LethalCompany/Mods/plugins/**
UCUnityProject/Assets/LethalCompany/Mods/plugins/UnwantedCompany/main.unity.meta
